<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Anasayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <app-cart-summary></app-cart-summary>
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <div class="dropdown" *ngIf="user && isLoggedIn()" >
              
              <button  class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="img-responsive cc-img" src="/assets/images/user.png" height="%20" width="40"> {{user.firstName}} {{user.lastName}}</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-primary" routerLink="profile">Profili Düzenle</a></li>
                <li><a class="dropdown-item text-primary" (click)="logOut()" routerLink="">Çıkış Yap</a></li>
              </ul>
            </div>
            
            <button *ngIf="!isLoggedIn()" class="btn btn-outline-primary" routerLink="login" type="submit">Giriş Yap</button>
            <button *ngIf="!isLoggedIn()" class="btn btn-outline-primary" routerLink="register" type="submit">Kayıt Ol</button>
        </div>
      </div>
    </div>
  </nav>