<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sepet
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let car of carDetails; let i = index"><a class="dropdown-item"><b class="text-dark">{{car.brandName +" "+ car.carModel}}</b><span (click)="removeFromCart(i)" class="badge text-bg-danger">Sil</span></a></li>
      <li><hr class="dropdown-divider"></li>
      <li *ngIf="cartItems.length>0"><a class="dropdown-item" routerLink="payment" >Ödemeye Geç</a></li>
      <li *ngIf="cartItems.length>0"><a class="dropdown-item" (click)="clearUserCart()" >Sepeti Temizle</a></li>
    </ul>
  </li>