<div class="filter">
    <div class="row">
        <div class="col-md-5">
            <select class="form-select" id="brandSelect" [(ngModel)]="currentBrandId">
                <option [ngValue]="undefined" disabled selected>
                    Marka Seç
                </option>
                <option value *ngFor="let brand of brands"
                        [value]="brand.id"
                        [selected]="setCurrentBrand(brand.id)"
                >
                {{brand.name}}
                </option>
            </select>
        </div>
        <div class="col-md-5">
            <select class="form-select" id="colorSelect" [(ngModel)]="currentColorId">
                <option [ngValue]="undefined"  disabled selected>
                    Renk Seç
                </option>
                <option *ngFor="let color of colors"
                        [value]="color.id"
                        [selected]="setCurrentBrand(color.id)"
                >
                {{color.name}}
                </option>
            </select>
        </div>
        <div class="col-md-1">
            <button
              class="btn btn-danger"
              routerLink="/cars/filter/{{ currentBrandId }}/{{ currentColorId }}"
            >
              Filtrele
            </button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-warning" routerLink="/cars">Temizle</button>
        </div>
    </div>
</div>