<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background-color: #e91515; color: white;" >
                <h5 class="title">Araç Ekle </h5>
            </div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="colorId">Renk Id</label>
                        <div class="form-group">
                            <input type="number" id="colorId" formControlName="colorId" class="form-control" placeholder="Renk Id giriniz">
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="brandId">Brand Id</label>
                        <div class="form-group">
                            <input type="number" id="brandId" formControlName="brandId" class="form-control" placeholder="Brand Id giriniz">
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input type="number" id="modelYear" formControlName="modelYear" class="form-control" placeholder="Model Yılı giriniz">
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="dailyPrice">Günlük Kiralama Fiyatı</label>
                        <div class="form-group">
                            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control" placeholder="Günlük Kiralama Fiyatı giriniz">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="carModel">Araba Modeli</label>
                        <div class="form-group">
                            <input type="text" id="carModel" formControlName="carModel" class="form-control" placeholder="Araba Modeli giriniz">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input type="text" id="description" formControlName="description" class="form-control" placeholder="Açıklama giriniz">
                        </div>
                    </div>
                    
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-dark" (click)="add()">Ekle</button>
            </div>
        </div>
    </div>
</div>